.x-tool img{
	display: none;
}
.x-window-default {
	background-color: yellow ;
}
.x-message-box .x-window-body{
	background-color: yellow ;
}
.msg {
	background-color: yellow ;
}
.x-field-invalid {
	color: red !important;
}
.portlet-title {
	font-size: 20px;
	text-align: center;
}
.x-grid-row-over .x-grid-cell-inner {
	font-weight: bold;
}
.x-grid-row-selected .x-grid-cell-inner {
	font-weight: bold;
	color: red;
}
.x-btn-condition .x-btn-center .x-btn-inner {
	font-weight: bold;
    text-align: center;
}
.x-btn-pass {
	width: 200px !important;
	height: 100px;
	background-color: #92D050;
	background-image: none !important;
	
}
.x-btn-default-large-menu-active, .x-btn-default-large-pressed {
    background-color: #B6CBE4 !important;
}
.x-btn-pass  .x-btn-center{
	
	width: 200px !important;
}
.x-btn-pass .x-btn-center .x-btn-inner {
	 color: black;
    font-size: 35px;
    text-align: center;
    width: 200px !important;
}
.x-btn-fail {
	width: 200px;
	height: 100px;
	background-color: #FF0000;
	background-image: none !important;
	
}
.x-btn-fail  .x-btn-center{
	width: 200px !important;
}
.x-btn-fail .x-btn-center .x-btn-inner {
	color: yellow;
    font-size: 35px;
    text-align: center;
    width: 200px !important;
}
.x-form-item-label {
	font-size: 20px !important;
}
.x-form-item {
	font-size: 20px !important;
	font-weight: bold !important;
}
.x-border-box .x-form-text {
	height: 30px !important;
	font-weight: bold !important;
}
.x-grid-with-row-lines .x-grid-cell-inner {
	font-size: 16px !important;	
}
.x-field-label-cell {
	width: 100px !important;
}
.x-boundlist-item {
	height: 30px !important;
	font-size: 20px !important;
}